.HolyGrail {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color:
}

.HolyGrail-nav {
  order: -1;
  background: linear-gradient(#9dbbf2, #7488ad);
  border: .1em solid #626f87;
  box-shadow: inset .2em .1em .2em .1em  #53565b;
}

.HolyGrail-content {
  flex: 1;
  background: linear-gradient(#9dbbf2, #cbd7ed);
  box-shadow: inset .2em .1em #53565b;
  font-size: 1.5em;
}

P{
  margin: auto 1em;
}

.HolyGrail-aside{
  background: linear-gradient(#9dbbf2, #7488ad);
  border: .1em solid #626f87;
  box-shadow: inset .2em .1em .2em .1em  #53565b;
}

.HolyGrail-header, .HolyGrail-footer {
  background: -webkit-radial-gradient(#5c6168, #4f545b);
}

.HolyGrail-header{
  font-size: 1.4em;
  color: #ededed;
  min-height: 10vh;
  border: .1em solid #3e454f;
  text-align: center;
}

.HolyGrail-footer{
  font-size: 1.1em;
  color: #ededed;
}

@media (min-width:768px) {
  .HolyGrail-body{
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-aside {
    flex: 0 0 9em;
  }
}
